* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background-color: #080d11;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.8rem;
    color: white;
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.logo {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover,
.navbar a:active {
    color: #2a709e;
    border-bottom: 3px #2a709e;
}

#menu-icon {
    font-size: 3.6rem;
    color: #2a709e;
    display: none;
}

.profile {
    width: 100%;
    padding: 78px 0px;
    background-color: #081b29;
}

.profile img {
    height: auto;
    width: 420px;
}

.profile-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-text {
    margin-top: 6rem;
}

.profile-text h1 {
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.profile-text p {
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 45px;
    max-width: 600px;
}

.profile-text button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 0px 16px;
    border-radius: 2px;
    min-width: 80px;
    height: 32px;
    background-color: #080d11;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgb(0, 120, 212);
}

.profile-text button:hover {
    background-color: rgb(16, 110, 190);
    border: 1px solid rgb(16, 110, 190);
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .profile img {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .profile img {
        width: 200px;
    }

    .profile-text h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .profile-text {
        max-width: 100%;
        text-align: center;
    }

    .profile-text p {
        font-size: 1.4rem;
        line-height: 1.4;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 895px) {
    #menu-icon {
        display: block;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
}

@media (max-width: 895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background-color: rgba(8, 13, 17, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
        text-align: center;
    }
}
